.input {
    width: 730px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    resize: none;
    font-size: 18px;
}

.key-overlay:last-child {
    justify-content: flex-start;
}

.keyboard-wrapper {
    width: 730px;
    height: 232px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
}

.keyWrapper {
    display: flex;
    flex-direction: row;
    height: 44px;
    justify-content: space-between;
}

.key {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
    border-radius: 2px;
    font-style: bold;
    color: black;
}

.keyWrapper .rshift {
    width: 128px
}

.key-large {
    width: 82px;
}

.space {
    width: 313px;
}

.tab {
    width: 80px;
}

.active {
    background: yellow;
    border-radius: 20px;
    transition: ease .1s;
}

.upper {
    text-transform: uppercase;
}

.key:hover {
    background-color: thistle;
}